node_modules

build
public/build
dist

.cache
.env
.wrangler
.dev.vars
.turbo
.react-router

coverage
playwright-report
__screenshots__

# Copied from ../tracker/dist (see packages/server/package.json copytracker script)
packages/server/app/tracker/tracker.js