@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 42 69% 85%;
        --foreground: 164 14% 21%;

        --card: 42 69% 88%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 15 94% 61%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 15 90% 60%;
        --input: 15 90% 60%;
        --ring: 222.2 84% 4.9%;

        --bar-color: #f7ba70;

        --radius: 0.5rem;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: 222.2 84% 3.9%;
            --foreground: 210 40% 85%;

            --card: 222.2 84% 5.1%;
            --card-foreground: 210 40% 85%;

            --popover: 222.2 84% 5.1%;
            --popover-foreground: 210 40% 85%;

            --primary: 210 40% 85%;
            --primary-foreground: 222.2 47.4% 11.2%;

            --secondary: 217.2 32.6% 27.5%;
            --secondary-foreground: 210 40% 85%;

            --muted: 217.2 32.6% 12.5%;
            --muted-foreground: 215 20.2% 65.1%;

            --accent: 217.2 32.6% 27.5%;
            --accent-foreground: 210 40% 85%;

            --destructive: 0 62.8% 30.6%;
            --destructive-foreground: 210 40% 85%;

            --border: 217.2 32.6% 27.5%;
            --input: 217.2 32.6% 27.5%;
            --ring: 212.7 26.8% 83.9%;

            --bar-color: hsl(220deg 39.76% 16.27%);
        }
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
